.container {
  width: 10rem;
  height: 10rem;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fade-in {
  animation: fadein 5s;
}

.circle {
  border-radius: 50%;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
