*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bg{
    height: 100vh;
    position: relative;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.loading_text{
    font-family: cursive;
    font-size: 50px;
    position: absolute;
    color: rgb(136, 195, 247);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}