* {
    font-family: 'Arial';
}

.table-wrapper {
    background: #1a1920;
    height: 400px;
    overflow-y: auto;
}

table {
    border-collapse: separate;
    border-spacing: 0 20px;
    width: 100%;
}

td {
    padding: 10px;
}

tr {
    background: linear-gradient(
        270deg,
        rgba(252, 90, 90, 0.0375) 0%,
        rgba(252, 90, 90, 0) 50%
    );
    border-color: #2d2d33;
    width: 100%;
    border-radius: 10px;
    padding: 1.428rem;
    align-items: center;
    border: 1px solid transparent;
    transition: background 0.3s, border-color 0.3s;
    position: relative;
}

a {
    border-radius: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    transition: opacity 0.3s;
    width: 100%;
    text-align: center;
    background: transparent;
    border: 1px solid #ffb500;
    color: #fff;
    padding: 5px;
}

.green-bg {
    padding: 0.857rem 1.071rem;
    border-radius: 10px;
    color: #82c43c;
    background: rgba(130, 196, 60, 0.1);
}

a:hover {
    opacity: 0.5;
}
