* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: cursive;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.cards {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
  border-radius: 40px;
  cursor: pointer;
  flex-grow: 0.1;
  margin: 10px;
  position: relative;
  transition: flex 0.4s ease-in-out;
}

.cards h3 {
  font-size: 40px;
  letter-spacing: 2px;
  position: absolute;
  left: 25px;
  bottom: 10px;
  color: rgb(255, 255, 255);
  opacity: 0;
}

.cards.active {
  flex-grow: 1;
}

.cards.active h3 {
  opacity: 1;
}

.cards--1 {
  background-image: url(img/1.jpg);
}
.cards--2 {
  background-image: url(img/2.jpg);
}
.cards--3 {
  background-image: url(img/3.jpg);
}
.cards--4 {
  background-image: url(img/4.jpg);
}
.cards--5 {
  background-image: url(img/5.jpg);
}
.cards--6 {
  background-image: url(img/6.jpg);
}

@media (max-width: 900px) {
  
  .panal:nth-of-type(4),
  .panal:nth-of-type(5) {
    display: none;
  }
}
